<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" >
	
	
	<title>ENGINEERING SOCIETY - VOTE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/voting.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!-- <script src="../node_modules/sweetalert/dist/sweetalert.min.js"></script> -->
	
</head>

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">Sierra<span>Vote</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Engineering Society Award Dinner</h2awa>
			</div>
			<label for="category">CATEGORY</label>
			<br/>
			<select name="category" id="category">
				<!-- <%
                   categories.map(category =>{ %>
				   <option value ='<%= category%>'><%= category %></option>
				<%})%> -->
				<option value="" selected="selected">Select category</option>
			</select>
			<br/>
			<label for="nominee">NOMINEE</label>
			<br/>
			<select name="nominee" id="nominee">
				<option value="" selected="selected">Select Nominee</option>
				<!-- <%
                   names.map(name =>{ %>
					<option value ='<%= name[1]%>'><%= name[0] %></option>
				<%})%> -->
			</select>
			<br/>
			<label for="password">PIN</label>
			<br/>
			<input class="pin-input" placeholder="Enter Pin" name="password"  type="password" required="" id="pin"><i class="far fa-eye" id="togglePassword" ></i>
			<br/>
			<input type="checkbox" id ='check'>Show Pin
			<br/>
			<p class="clock" id="clock"></p>
			
			<p>To Purchase Pin, Contact <strong><a href="tel:+23288476767">+232 88 476767</a></strong>or <strong>
				<a href="tel:+23278260184">+232 78 260184</a></strong></p>
			<!-- <button type="submit" id = 'voteBtn'>VOTE</button> -->
			<button id="voteBtn" type="submit" class="button">
				<span class="button__text">VOTE</span>
			</button>
			<br/>
			
			
		</div>
	</div>
</body>
<footer class="footer">
	<hr/>
&copy2022. Developed by Sierra Technologies.
<br/>
Online Voting System for the Engineering Society Dinner 
<br/>
Contact: <a href="tel:+23276685170">+23276685170</a> | Email: <a href="email:sierratecnologiessl@gmail.com">sierratecnologiessl@gmail.com</a>
</footer>
</html>